input,
button
{
  margin: 50px;


}
 .input-group {
   display: flex;
   padding-left:20px;
   position: center;
   width: 50%;
 }
.log{
  position: center;
  alignment: center;
  padding-left: 20%;

}
.error {

  padding-left:20px;
   width: fit-content;
  color: firebrick;

}
